package schema

import (
	"github.com/graphql-go/graphql"
)

// Schema represents the GraphQL Schema Object
var Schema graphql.Schema
var queryFields = graphql.Fields{}
var mutationFields = graphql.Fields{}

func init() {
	// init model fields
    {{ range $r := .Config.Resources -}}
    {{$r.Ident.Camelize}}Fields()
    {{ end -}}

	// Schema - GraphQL Root Schema
	var err error
	Schema, err = graphql.NewSchema(graphql.SchemaConfig{
		Query: graphql.NewObject(graphql.ObjectConfig{
			Name:        "Query",
			Description: "Root Query of the {{.Schema}} Schema",
			Fields:      queryFields,
		}),
		Mutation: graphql.NewObject(graphql.ObjectConfig{
			Name:        "Mutation",
			Description: "Root Mutation of the {{.Schema}} Schema",
			Fields:      mutationFields,
		}),
	})

	if err != nil {
		panic(err)
	}
}
