package schema_test

import (
	"os"
)

type TestQuery struct {
	Query     string
	Variables map[string]interface{}
}

func init() {
	os.Setenv("LOCAL", "true")
	os.Setenv("ENDPOINT", "http://localhost:8000")
	os.Setenv("REGION", "eu-central-1")
}