{{- $single := .Model.Ident.Singularize}}
{{- $singlePascal := $single.Pascalize.String }}
{{- $singleUpepr := $single.ToUpper.String }}
{{- $singleUpper := $single.ToUpper.String}}
{{- $first := First $single.Camelize -}}
{{- $composite := .Model.CompositeKey -}}
package services

import "os"

// {{$singlePascal}}DynamoService is the DynamoDB Service for the {{$singlePascal}} Model
type {{$singlePascal}}DynamoService struct {
	dynamoService
}

{{if $composite -}}
// {{$singlePascal}}Service returns the {{$singlePascal}}DynamoService with table-, hash- and rangeName set
func {{$singlePascal}}Service(hashName, rangeName string) *{{$singlePascal}}DynamoService {
{{- else}}
// {{$singlePascal}}Service returns the {{$singlePascal}}DynamoService with table- and hashName set
func {{$singlePascal}}Service(hashName string) *{{$singlePascal}}DynamoService {
{{- end}}
    tableName := os.Getenv("{{$singleUpper}}_TABLE_NAME")
	return &{{$singlePascal}}DynamoService{
		dynamoService: dynamoService{
			tableName: tableName,
			hashName:  hashName,
			{{if $composite -}}
			rangeName: rangeName,
			composite: true,
			{{- end}}
		},
	}
}
